
.container{
  padding-bottom: 16px;
  background: #E9E9ED;
}

/* sc-main */
.sc-main{
  position: relative;
  padding: 116px 0 92px;
}

.sc-main .bg-slide{
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
}
.sc-main .bg-slide .img-box{position: relative;height: 100%;}
.sc-main .bg-slide .img-box::after{
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  content: '';
  z-index: 2;
  backdrop-filter: blur(20px);
}
.sc-main .bg-slide img{ width: 100%; height: 100%; object-fit: cover; }


.sc-main .bg-slide .swiper-slide-active .desc-box .wrap .title,.sc-main .bg-slide .desc-box .wrap .desc{
  opacity: 1;
  transform: translateY(-20px);
}

.sc-main .main-slide{

}
.sc-main .main-list{}
.sc-main .main-item{}
.sc-main .main-item a{}
.sc-main .main-item .img-box{
  height: 100%;
  padding: 0 20px;
}
.sc-main .main-item .img-box img{
  position: relative;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.sc-main .main-item .desc-box{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 520px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
}
.sc-main .desc-box .title{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  
}
.sc-main .desc-box .desc {
  max-height: 23px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding-right: 32%;
  opacity: 0.8;
}

.sc-main .text-slide{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 30px 30px;
  left: 0;
  color: #fff;
  z-index: 5;
}
.sc-main .text-slide .desc-box .wrap{
  overflow: hidden;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  transition: 1s;
  transform: translateY(10px);
}

.sc-main .text-slide .desc-box .title{
  display: block;
  opacity: 0;
  transition: all 0.6s;
}
.sc-main .text-slide .desc-box .desc{
  display: block;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;

}

.sc-main .text-slide .swiper-slide-active .title,
.sc-main .text-slide .swiper-slide-active .desc
{
  opacity: 1;
}

.sc-main .text-slide .swiper-slide-active .desc-box .wrap{
  transform: translateY(0);
}

.sc-main .control-area{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 16px;
  right: 4.5%;
  z-index: 120;
  color: #fff;
  /* background: #f00; */
  /* border: 1px solid #fff; */
  gap: 10px;
}
.sc-main .fraction-wrap{
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 25px 0px 7px;
  height: 27px;
  border-radius: 27px;
  font-family: 'Roboto Condensed';
  font-size: 12px;
  line-height: 27px;
  background: rgba(25,25,25,0.4);
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 72px;
}
.sc-main .fraction-wrap .fraction{
  margin-top: 0;
}

.sc-main .control-area .fraction::after{
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 11px;
  height: 11px;
  background-position: 0 0 no-repeat;
}

.sc-main .btn{
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
}

.sc-main .autoplay{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  /* background: #f00; */
}
.sc-main .autoplay::after{
  width: 11px;height: 11px;
  content: '';
  background-position: -11px 0;
}
.sc-main .autoplay.on::after{
  background-position: -22px 0;
}


.sc-cate .cate-area{
  overflow: hidden;
  position: relative;
  background: #fff;
}
.sc-cate .cate-list{
  display: flex;
  padding: 14px 10px;
}
.sc-cate .cate-item{
  width: 71px;
}
.sc-cate .cate-item a{
}
.sc-cate .cate-item img{
  width: 51px;
  margin: 0 auto;
  border-radius: 36%;
}
.sc-cate .cate-item span{
  display: block;
  font-size: 12px;
  line-height: 18px;
  white-space: inherit;
  text-overflow: inherit;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 4px;
}

.sc-cate .btn-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #fff;
  position: relative;
  margin-top: -1px;
  padding-top: 1px;
  padding: 0 20px;
}
.sc-cate .btn-ad span{
  margin: 0 16px 8px;
  display: block;
  width: 100%;
  height: 42px;
  border: 1px solid #5232D9;
  border-radius: 8px;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  z-index: 1;
  color: #5232D9;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


/* sc-product */
.sc-product {
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  background: #fff;
  /* margin-bottom: 35px; */
}
.sc-product .prod-slide{
  padding: 0 16px;
  margin-bottom: 35px;
}
.sc-product .prod-list{
}
.sc-product .prod-item{
  width: 43%;
  max-width: 280px;
  margin-right: 10px;
}
.sc-product .prod-item a{
  min-width: 230px;
}
.sc-product .prod-item .img-box{}
.sc-product .prod-item .img-box img{
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
.sc-product .prod-item .desc-box{}
.sc-product .prod-item .desc-box .brand{
  font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sc-product .prod-item .desc-box .name{
  width: 100%;
  height: 38px;
  color: #505050;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-box !important;
  display: box !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.sc-product .prod-item .desc-box .price-wrap{
  margin-top: 8px;
}
.sc-product .prod-item .desc-box .price{
  display: inline-block;
  margin-right: 2px;
  font-weight: normal;
  font-size: 20px;
}


/* sc-rank */
.sc-rank {
  overflow: hidden;
  margin-top: 8px;
  border-bottom: #D4D4D8 1px solid;
  background: #fff;
}
.sc-rank .rank-top{
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
  height: 52px;
  padding: 0 48px 0 99px;
  box-sizing: border-box;
}
.rank-top .time{
  /* display: none; */
  padding-left: 8px;
  color: #767676;
  font-size: 12px;
  line-height: 52px;
}

.rank-top .btn-more{
  position: relative;
  width: 48px;
  height: 52px;
}

.rank-top .time .btn-more::before{
  content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 16px;
    margin-top: -8px;
    background: #E9E9ED;
}
.rank-top .time .btn-more::after{
  content: '';
    display: block;
    position: absolute;
    right: 18px;
    top: 19px;
    z-index: 2;
    width: 9px;
    height: 9px;
    border: 1px solid #191919;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    pointer-events: none;
}

.rank-top .ic-rank{}
.rank-top .ic-rank span{
  display: block;
    position: absolute;
    left: 16px;
    top: 16px;
    height: 20px;
    padding: 0 8px;
    border: #5232D9 1px solid;
    border-radius: 20px;
    color: var(--cr-purple);
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    box-sizing: border-box;
}

.rank-top .rank-slide{
  width: 100%;
}

.rank-top .rank-slide .rank-list{
  display: flex;
}

.rank-top .rank-slide .rank-list.active{
  display: none;
}

.rank-top .rank-item{
  display: flex;
  background: #fff;
  align-items: center;
}
.rank-top .rank-item a{
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 52px;
  line-height: 52px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rank-top .rank-item .rank-wrap{
  display: flex;
  padding-left: 8px;
  font-weight: bold;
  font-size: 18px;
  
}
.rank-top .rank-item .rank{
  margin-right: 7px;
  font-size: 20px;
  font-family: 'Roboto';
  
}
.rank-top .rank-item .name{
  
}

.rank-bottom .new,
.rank-top .rank-item .new{
  margin-right: 7px;
  font-size: 11px;
  font-family: 'Roboto';
  margin-left: auto;
  font-weight: bold;
}

.sc-rank .rank-more{
  position: relative;
    width: 48px;
    height: 52px;
}


.sc-rank .rank-more::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 16px;
  margin-top: -8px;
  background: #E9E9ED;
}

.sc-rank .rank-more::after{
  content: '';
  display: block;
  position: absolute;
  right: 18px;
  top: 19px;
  z-index: 2;
  width: 9px;
  height: 9px;
  border: 1px solid #191919;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sc-rank .rank-more.active::after{
  top: 24px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}





.sc-rank .rank-bottom{
  display: none;
}
.rank-bottom .group-rank{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 265px;
}
.rank-bottom .group-rank li{
  border-top: #e8e8e8 1px solid;
  width: 50%;
}
.rank-bottom .group-rank a{
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 52px;
  padding-left: 16px;
  /* padding-right: 44px; */
  line-height: 52px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rank-bottom .rank-wrap {
  display: flex;
}
.rank-bottom .rank-wrap .rank{
  margin-right: 6px;
}

.rank-bottom .rank-wrap p{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 52px;
  /* padding-right: 44px; */
  line-height: 52px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    
}
.rank-bottom .rank-wrap .new{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 52px;
  font-weight: bold;
  font-size: 11px;
  line-height: 52px;
  text-align: center;
  font-family: 'Roboto';
}


/* sc-deal */
.sc-deal{
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  background: #fff;
  padding: 0 16px;
}
.sc-deal .swiper{
  padding-bottom: 100px;
}
.sc-deal .deal-list{
  display: flex;
}
.sc-deal .deal-item{

}

.sc-deal .deal-item a{
  display: block;
  border: #F1F1F5 1px solid;
}

.sc-deal .deal-item{}


.sc-deal .deal-item .img-box{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.sc-deal .deal-item .img-box .ic-deal{
  position: absolute;
  width: 47px;
  height: 48px;
  left: 6px;
  top: 6px;
  background-image: url(../images/ic-deal.png);
  background-size: cover;
}

.sc-deal .deal-item .img-box::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.03;
}

.sc-deal .deal-item .img-box img{
  width: 50%;
  height: auto;
  margin: 0 auto;
  flex: none;
}


.sc-deal .deal-item:nth-child(3) .img-box img{
  width: 50%;
  height: auto;
  margin: 0 auto;
  flex: none;
}

.sc-deal .deal-item .img-box{
  display: flex;
  margin-bottom: 10px;
}
.sc-deal .deal-item img{
  display: flex;
}
.sc-deal .deal-item .desc-box{
  padding: 0 16px 16px;
  
}
.sc-deal .deal-item .gal{
  overflow: hidden;
    max-height: 17px;
    margin-bottom: 5px;
}
.sc-deal .deal-item .gal span{
  display: block;
  float: left;
  height: 17px;
  padding: 0 5px;
  margin-right: 3px;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: -0.4px;
  border: #505050 1px solid;
  color: #191919;
  box-sizing: border-box;
}
.sc-deal .deal-item .gal .gold{
  color: #7F5B15;
    border-color: #A48450;
}
.sc-deal .deal-item .gal .purple{
  color: #5232D9;
  border-color: #5232D9;
}

.sc-deal .btn-all{
  width: 100%;
  height: 52px;
  border-top: #E9E9ED 1px solid;
  text-align: center;
}
.sc-deal .btn-all span{
  display: block;
    font-size: 16px;
    line-height: 52px;
}
.sc-deal .btn-all span::after{
  content: '';
  background-position: -74px -98px;
  background-size: 107px 168px;
}


/* sc-live */
.sc-live{
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  background: #fff;
}
.sc-live .group-live{
  
}
.sc-live .group-live .video{
  padding-bottom: 56.25%;
  position: relative;
}
.sc-live .group-live .video iframe{
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
}
.sc-live .cont-list{
  display: flex;
  margin-top: 10px;
    padding: 0 10px;
}
.sc-live .cont-item{
  flex: 1;
  padding: 0 0 36px;
}

.sc-live .img-box{}
.sc-live .img-box img{
  width: 100%;
  margin: 0 0 10px;
}

.sc-live .desc-box .brand{
  font-size: 14px;
  line-height: 18px;
}
.sc-live .desc-box .name{
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
}
.sc-live .desc-box .price{
  font-size: 17px;
  margin-right: 2px;
}

.sc-live .desc-box .price em{
  font-size: 11px;
  margin-right: 2px;
}


/* sc-event */
.sc-event{
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-top: 8px;
}
.sc-event .group-event{
  padding: 0 16px;
  padding-bottom: 35px;
}

.sc-event .img-box{}
.sc-event .img-box > img{
  width: 100%;
}

.sc-event .text-box{
  display: block;
  width: 100%;
  padding: 15px 16px 20px 16px;
  box-sizing: border-box;
}
.sc-event .text-box .title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 30px;
}
.sc-event .text-box .sub{
  margin-top: 3px;
  color: #767676;
  font-size: 14px;
  line-height: 20px;
}

.group-event .event-list{
}

.group-event .event-item{
  width: 278px;
  display: flex;
  overflow: hidden;
  border: 1px solid #F1F1F5;
  box-sizing: border-box;
}
.group-event .event-item a{
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0;
  margin: -10px 0;
}
.group-event .event-item .img-box{
  width: 50%;
}
.group-event .event-item .img-box img{
  /* margin: 0 5px 0 0; */
}
.group-event .event-item .desc-box{
  flex: 1;
  margin-left: 5px;
  margin-right: 20px;
}
.group-event .event-item .desc-box .name{
  margin: none;
  width: 100%;
}





/*tab css*/
.sc-focus{
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  background: #fff;
}
.sc-focus .tab-area{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sc-focus .tab-nav{
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.sc-focus .tab-nav li{display: inline-block;  height:40px; text-align:center;}
.sc-focus .tab-nav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }

.sc-focus .tab-nav li a.active{border-bottom:4px solid #000;}
.sc-focus .tab-nav li a{ position:relative;
display: block;}
.sc-focus .tab-nav li a.active{color: #191919;
  font-weight: bold; }
.sc-focus .tab-list{
  /* background: #f00; */
}

.sc-focus .tab3 .swiper-pagination,
.sc-focus .tab2 .swiper-pagination,
.sc-focus .tab1 .swiper-pagination{
  margin-bottom: 25px;
}

.sc-focus .tab3 .tab-slide3,
.sc-focus .tab2 .tab-slide2,
.sc-focus .tab1 .tab-slide1{
  padding-bottom:80px;
}
.sc-focus .swiper-wrapper{
  padding: 0 10px;
}
.sc-focus .tab-item{
  position: relative;
  width: 83%;
  max-width: 546px;
  min-width: 374px;
  box-sizing: border-box;
}
.sc-focus .tab-item .img-box{
  width: 100%;
  height: auto;
}
.sc-focus .tab-item .img-box img{
  width: 100%;
  height: auto;

}

.sc-focus .tab-item .item-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 0;
}
.sc-focus .tab-item .item-box{
  display: flex;
  padding: 0 4.3% 0 0;
  width: 83%;
  box-sizing: border-box;
}
.sc-focus .tab-item .item-box .img-box{
  width: 39%;
  margin: 0 20px 0 0;
}

.sc-focus .tab-item .btn-wish{
  position: absolute;
  bottom:40%;
  right: 2%;
}

.sc-focus .tab-item .item-box:last-child .img-box{  margin-top: 4px;
  margin-left: 0}


.sc-focus .tab-item .item-box .img-box:last-child{
  
}
.sc-focus .tab-item .item-box .img-box img{}
.sc-focus .tab-item .desc-box{
  width: 100%;
}
.sc-focus .tab-item .desc-box .name{
  margin: 16px 0 0;
  font-size: 14px;
}
.sc-focus .tab-item .desc-box .price-wrap{
  margin-top: 8px;
}
.sc-focus .tab-item .desc-box .price{
  font-size: 17px;
    margin-right: 2px;
    font-weight: normal;
}


/* ad-banner */
.ad-banner{
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 8px;
}
.ad-banner .banner-list{
  display: flex;
}
.ad-banner .banner-item{}

.ad-banner .banner-item img{
  width: 100%;
  height: auto;
}

.ad-banner .control-area{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  right: 6px;
  z-index: 100;
  gap: 5px;
}
.ad-banner .fraction-wrap{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0px 12px;
  height: 27px;
  border-radius: 27px;
  font-family: 'Roboto Condensed';
  font-size: 12px;
  line-height: 27px;
  background: rgba(25,25,25,0.4);
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 42px;
  height: 18px;
}
.ad-banner .fraction-wrap .fraction{
  margin-top: 1px;
  display: flex;
  align-items: center;
}

.ad-banner .btn{
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
}
.ad-banner .autoplay{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  /* background: #f00; */
}
.ad-banner .autoplay::after{
  content: '';
  width: 11px;height: 11px;
  background-position: -11px 0;
}
.ad-banner .autoplay.on::after{
  content: '';
  background-position: -22px 0;
}


/* sc-gourmet */
.sc-gourmet {
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  background: #fff;
}

.sc-gourmet .gm-slide{
  padding-left: 8px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.sc-gourmet .gm-list{
  display: flex;
}

.sc-gourmet .gm-item{

}
.sc-gourmet .gm-item a{
  display: block;
  flex: 1;
  padding: 0 8px;
}

.sc-gourmet .gm-item .img-box{
  width: 100%;
}
.sc-gourmet .gm-item .img-box img{
  width: 100%;
  height: auto;
}

.sc-gourmet .gm-item .desc-box{
  padding: 0 12px;
  margin-top: -12px;
}
.sc-gourmet .gm-item .desc-box .title {
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.sc-gourmet .gm-item .desc-box .desc{
  overflow: hidden;
  color: #767676;
  display: block;
  font-size: 14px;
  height: 40px;
  margin-top: 9px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  height: 40px;
  margin-top: 9px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

/* sc-weekly */
.sc-weekly{
  
}
.sc-weekly .badge{
  position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 26px;
    height: 26px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    font-family: 'Roboto';
}

/* sc-brand */
.sc-brand{
  overflow: hidden;
  position: relative;
  margin-top: 8px;
  background: #fff;
}
.sc-brand .brand-item{
  position: relative;
  margin-bottom: 25px;
}

.brand-item .img-box{}
.brand-item .img-box img{
  width: 100%;
}

.brand-item .desc-box{
  display: block;
  position: relative;
  padding: 10px 16px;
}
.brand-item .desc-box .title{
  font-size: 18px;
  font-weight: bold;
}
.brand-item .desc-box .desc{
  display: block;
  margin-top: 4px;
  font-size: 15px;
  color: #767676;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sc-brand .brand-item .btn-like{}

.sc-brand .sm-slide{
  position: absolute;
  width: 100%;
  bottom: 112px;
  left: 0;
  padding: 0 160px;
}
.sc-brand .sm-list{
}
.sc-brand .sm-item{
  position: relative;
  max-width: 240px;
  min-width: 125px;
}
.sc-brand .sm-item a{
  width: 100%;
  height: 100%;
  padding: 0 16px 36px;
  box-sizing: border-box;
}
.sc-brand .sm-item .img-box{
  margin-bottom: 0;

}
.sc-brand .sm-item .img-box img{
  width: 100%;
}
.sc-brand .sm-item .price-wrap{
  position: absolute;
  left: 0;
  bottom: 17px;
  width: 100%;
  height: 26px;
  margin-top: 0;
  background: rgba(0,0,0,0.3);
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.sc-brand .sm-item .price{


  font-size: 14px;
  line-height: 26px;
}